@page
@model SMP.Pages.Meetings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Conducting)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Conducting)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.OpeningHymn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.OpeningHymn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.SacramentHymn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.SacramentHymn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.RestHymn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.RestHymn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.ClosingHymn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.ClosingHymn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Speaker1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Speaker1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Speaker2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Speaker2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Speaker3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Speaker3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Topic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Topic)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Meeting.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
